body{
    background-color: gray;

}

.okno_gl{
    height: 500px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;

}

#wynik{
    height: 50px;
    margin-block: 30PX;
    margin-inline: 10PX;
    border-radius: 10px;
    border-style: solid;
    font-size: 15px;
    font-display: center;
    font-weight:bold

}
select{
    height: 40px;
    width: 180px;
    margin-left: 28%;
    margin-block: 20px;
    text-align: center;

}

input{
    height: 30px;
    width: 220px;
    margin-left: 22%;
    text-align: center;
}

button{
    height: 35px;
    width: 90px;
    border-radius: 20px;
    border-style: solid;
    background-color:chartreuse;
    margin-left: 40%;

}
