body{
    background-color: gray;
    display: flex;
    justify-content: center;

}

h1{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 40px;
}

.okno_gl{
    height: 500px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: solid red;
    margin-top: 10%;

}

#wynik{
    height: 50px;
    margin-block: 30PX;
    margin-inline: 10PX;
    border-radius: 10px;
    border-style: solid;
    font-size: 15px;
    text-align: center;
    font-weight:bold;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 20px;
    border: solid red;
}
select{
    height: 40px;
    width: 180px;
    margin-left: 28%;
    margin-block: 20px;
    text-align: center;
    font-weight: bold;
    border: solid red;

}

input{
    height: 50px;
    margin-block: 30PX;
    margin-inline: 10PX;
    border-radius: 10px;
    border-style: solid black;
    font-size: 15px;
    font-display: center;
    font-weight:bold;
    text-align: center;
    font-family: 'Delicious Handrawn', cursive;
    font-weight: bold;
    font-size: 20px;
    border: solid red;
}

button{
    height: 35px;
    width: 90px;
    border-radius: 20px;
    border-style: solid;
    background-color:chartreuse;
    margin-left: 40%;

}
